@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 262 0% 10%;
    --card: 262 0% 100%;
    --card-foreground: 262 0% 15%;
    --popover: 262 0% 100%;
    --popover-foreground: 262 95% 10%;
    --primary: 262 50% 32.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 43 89.6% 62.2%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224 10% 95%;
    --muted-foreground: 262 0% 40%;
    --accent: 224 10% 90%;
    --accent-foreground: 262 0% 15%;
    --destructive: 14 55% 73%;
    --destructive-foreground: 14 55% 13%;
    --success: 137 55% 73%;
    --success-foreground: 137 55% 13%;
    --warning: 48 55% 73%;
    --warning-foreground: 48 55% 13%;
    --info: 219 55% 73%;
    --info-foreground: 219 55% 13%;
    --border: 262 20% 82%;
    --input: 262 20% 50%;
    --ring: 262 50% 32.2%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 262 10% 10%;
    --foreground: 262 0% 100%;
    --card: 262 0% 10%;
    --card-foreground: 262 0% 100%;
    --popover: 262 10% 5%;
    --popover-foreground: 262 0% 100%;
    --primary: 262 50% 32.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 43 89.6% 62.2%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 10% 25%;
    --muted-foreground: 262 0% 65%;
    --accent: 224 10% 25%;
    --accent-foreground: 262 0% 95%;
    --destructive: 14 76% 18%;
    --destructive-foreground: 14 76% 78%;
    --success: 98 76% 18%;
    --success-foreground: 98 76% 78%;
    --warning: 54 76% 18%;
    --warning-foreground: 54 76% 78%;
    --info: 233 76% 18%;
    --info-foreground: 233 76% 78%;
    --border: 262 20% 50%;
    --input: 262 20% 50%;
    --ring: 262 50% 32.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-black;
  }

  h1,
  h2 {
    @apply font-black text-primary;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }
}

@layer components {
  .link {
    @apply text-primary font-bold text-2xl border-transparent border-b-2 transition-colors hover:border-secondary delay-0 ease-in-out;
  }
}
